

//Fuentes
$brand: 'Lobster', cursive;
$fuentePrincipal: 'Montserrat Alternates', sans-serif;

//colores
$blanco: #fff;
$negro: #000;
$fondo: #070A16;
$cartas: #141725;

//Media queries

$telefono: 480px;
$tablet: 768px;
$pc: 1200px;